logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.class
*.log

# sbt specific
.cache
.lib/
dist/*
lib_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.sbtserver

*.iml
*.lock
*.komodoproject
.DS_Store
.history
.idea
.classpath
.cache
.project/
.project
.idea/
.idea_modules/
.settings/
.target/
RUNNING_PID
project/boot/
workspace/
repository/
monitoring/
target/
logs/
.settings
.classpath
.project
.cache
bin/
project/activator-sbt-eclipse-shim.sbt
project/activator-sbt-idea-shim.sbt
.sbtserver
project/.sbtserver
build.sbt
project/sbt-ui.sbt
project/play-fork-run.sbt