logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.class
*.log

# sbt specific
.cache
.lib/
dist/*
lib_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.sbtserver

*.lock
*.komodoproject
.DS_Store
.classpath
.project/
.project
.idea_modules/
.settings/
.target/
RUNNING_PID
workspace/
repository/
monitoring/
target/
logs/
.settings
bin/
project/activator-sbt-eclipse-shim.sbt
project/activator-sbt-idea-shim.sbt
project/.sbtserver
project/sbt-ui.sbt
project/play-fork-run.sbt

inspect.sbt