@(title: String, backdrop:String = "")(content: Html)(implicit req: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/app.css")">

        @helper.javascriptRouter("jsRoutes")(
            routes.javascript.MovieController.socket,
            routes.javascript.MovieController.watch
        )
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("underscore-min.js"))'></script>
        <script src="@routes.Assets.at("javascripts/jquery.websocket-0.0.1.js")"></script>
        <script src="@routes.Assets.at("javascripts/app.js")"></script>
    </head>
    <body>
        <div class="backdrop"><div style="background-image: url(@backdrop);"></div></div>
        <div class="container">
            @content
        </div>
    </body>
</html>