@(movie: plex.Movie, offset: Option[Double], token: String)

@main(movie.title, backdrop = movie.artUrl(token).toString()) {

  <h1><a href="@controllers.routes.MovieController.index()"><i class="glyphicon glyphicon-chevron-left"></i></a> @movie.title</h1>

  <div class="viewer">
    <video controls="false" data-id="@movie.key" data-token="@token" autoplay preload="metadata">
      <source src="@movie.stream(token, offset)">
    @movie.subtitles.filter(_.languageCode == "dut").map { sub =>
      <track label="@sub.language" src="@sub.endpoint(movie.key)" kind="subtitles" srclang="@sub.languageCode">
    }

    </video>
  </div>

  <div class="row info">
    <div class="col-md-4">
      <img src="@movie.thumbUrl(token)" class="thumb">
    </div>
    <div class="col-md-8">
      <p class="description">
        @movie.description
      </p>
      <p>
      </p>
    </div>
  </div>

}
