@(watching: Seq[plex.Movie] = Seq[plex.Movie](), movies: Seq[plex.Movie], token: String)(implicit req: RequestHeader)

@main("Movies") {

    <h1>Movies</h1>

    <div class="watching">
    @watching.map { movie =>
        <div class="video-thumb">
            <a href="@movie.detailUrl.toString()">
                <img src="@movie.thumbUrl(token)">
                <div class="p_progress"><div class="p_progress-indicator" style="width: @(movie.watchingProgress().map(_*100))%;"></div></div>
                <p>@movie.title</p>
            </a>
        </div>
    }
        <div class="clear"></div>
    </div>

@movies.map { movie =>
    <div class="video-thumb">
        <a href="@movie.detailUrl.toString()">
            <img src="@movie.thumbUrl(token)">
            <p>@movie.title</p>
        </a>
    </div>
}

}
